body {
  margin: 0;
  padding: 0;

  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

#board {
  border: black 2px solid;
  width: 500px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 64px;
}

header {
  padding: 32px;
  width: 100%;
  margin: auto;
  font-weight: 600;
  font-size: 32px;
}
